<ng-container>

  <div class="middleDiv">
    <nz-card nzTitle="现金充值">
      <nz-form-item>
        <nz-form-label [nzSpan]="4" nzRequired>卖家卡号</nz-form-label>
        <nz-form-control [nzSpan]="16" nzHasFeedback>
          <input nzInput placeholder="请输入卡号" type="text" [(ngModel)]="cardNo" (keyup.enter)="memberDetail()" />
        </nz-form-control>
      </nz-form-item>
    </nz-card>
  </div>

  <div class="middleDiv">
    <nz-card nzTitle="会员信息" style="height: 240px;">
      <div style="display: flex;justify-content: flex-start;align-items: center;" *ngIf="member">
        <div class="memberInfoItem">
          <p>会员名称：{{member.name}}</p>
          <p>手机号：{{member.mobi}}</p>
          <p>身份证号：{{member.idCardNo}}</p>
          <p>可用余额：
            <span style="font-size: 20px;font-weight: 100;">{{account.balAmt}}</span>
          </p>
        </div>
        <div class="memberInfoItem">
          <p>会员编号：{{member.id}}</p>
          <p>会员状态：{{member.status}}</p>
          <p>地址：{{member.address}}</p>
          <p>冻结余额：{{account.frozenAmt}}</p>
          <p></p>
        </div>
      </div>
    </nz-card>
  </div>

  <div class="middleDiv">
    <nz-card nzTitle="充值信息">
      <form nz-form [formGroup]="rechargeForm" (ngSubmit)="memberRecharge($event,rechargeForm.value)">
        <nz-form-item>
          <nz-form-label [nzSpan]="7">充值方式</nz-form-label>
          <nz-form-control [nzSpan]="12">
            <nz-select style="width: 200px;" nzShowSearch nzAllowClear [(ngModel)]="selectedValue" formControlName="type">
              <nz-option nzLabel="现金" nzValue="CASH"></nz-option>
              <nz-option nzLabel="凭条" nzValue="SLIP"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSpan]="7" nzRequired>充值金额</nz-form-label>
          <nz-form-control [nzSpan]="12" nzHasFeedback>
            <input nz-input type="number" formControlName="amount" [(ngModel)]="rechargeWithDraw.amount" (blur)="showBalance(amoutInput.value)"
              (change)="showBalance(amoutInput.value)" required #amoutInput />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSpan]="7" nzRequired>充值后余额</nz-form-label>
          <nz-form-control [nzSpan]="12" nzHasFeedback>
            <input nz-input type="number" formControlName="afterAmout" [(ngModel)]="rechargeWithDraw.afterBalAmt" readonly required/>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSpan]="7">备注</nz-form-label>
          <nz-form-control [nzSpan]="12" nzHasFeedback>
            <textarea nz-input rows="2" formControlName="remark" [(ngModel)]="rechargeWithDraw.remark"></textarea>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-control [nzOffset]="7" [nzSpan]="12">

            <button nz-button nzType="primary" [disabled]="!rechargeForm.valid">提交</button>
            <button nz-button (click)="resetForm()">重置</button>
          </nz-form-control>
        </nz-form-item>

      </form>
    </nz-card>
  </div>
</ng-container>