<h3 style="padding: 30px;text-align: center;">修改密码</h3>
<div nz-row style="padding-bottom: 30px;">

    <div nz-col [nzXs]="{ span: 8, offset: 8 }" [nzLg]="{ span: 8, offset: 8 }">

        <nz-input-group [nzSuffix]="suffixTemplate" nzPrefixIcon="anticon anticon-user">
            <input type="text" nz-input placeholder="请输入需要新密码" [(ngModel)]="password">
        </nz-input-group>
        <ng-template #suffixTemplate><i class="anticon anticon-close-circle" (click)="password=null" *ngIf="password"></i></ng-template>
    </div>
</div>
<div nz-row style="padding-bottom: 30px;">
    <div nz-col [nzXs]="{ span: 8, offset: 8 }" [nzLg]="{ span:8, offset: 8 }">

        <nz-input-group [nzSuffix]="suffixTemplate" nzPrefixIcon="anticon anticon-user">
            <input type="text" nz-input placeholder="确认密码" [(ngModel)]="newpassword">
        </nz-input-group>
        <ng-template #suffixTemplate><i class="anticon anticon-close-circle" (click)="password=null" *ngIf="password"></i></ng-template>

    </div>

</div>
<div nz-row style="padding: 30px;">

    <button nz-button nzType="primary" nz-col [nzXs]="{ span: 8, offset: 8 }" [nzLg]="{ span:8, offset: 8 }" style="display: block;
    margin: 0 auto;" (click)="modify()">确认修改</button>
</div>